.App {
  text-align: left;
}

.App-header {
  background-color: #eff0f0;
  min-height: 100vh;
  min-width: max-content;
  flex-direction: column;
  align-items: center;
  color: rgb(12, 0, 0);
}

.Display {
  text-align: left;
  gap: 10px;
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.status-section-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.status-section {
  flex: 1;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column; 
  margin-bottom: 20px;
}

h2 {
  text-align: center;
}

.card {
  width: 100%;
  height: 150px;
  padding: 15px;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  background-color: #ffffff;
}

.card:hover {
  transform: scale(1.05);
}

.card h6 {
  display: -webkit-box;          
  -webkit-box-orient: vertical; 
  overflow: hidden;              
  text-overflow: ellipsis;       
  -webkit-line-clamp: 2;        
  max-height: 3em;              
  line-height: 1;     
}

.card p{
  line-height: 1; 
}

.dropdown-container{
  background-color: #ffffff;
  padding: 10px;
}

.status-section h2 {
  margin: 0; 
}

.card-container {
  display: flex;
  flex-direction: column; 
}

.card {
  transition: transform 0.2s;
  background-color: #ffffff;
  overflow: hidden; 
  display: flex; 
  align-items: flex-start; 
  justify-content: space-between; 
  position: relative; 
  width: 100%; 
  height: max-content;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-container {
  position: relative;
}

.dropdown-options {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  z-index: 1;
  width: 200px; 
  padding: 10px;
}

.grouping-options, .ordering-options {
  margin-bottom: 10px;
}

.option {
  cursor: pointer;
  padding: 5px;
  transition: background 0.2s;
}

.option:hover {
  background: #f0f0f0; 
}

.selected {
  background: #d1e7dd;
  font-weight: bold;
}

.dp {
  width: 40px; 
  height: 40px; 
  border-radius: 50%;
  background-color: #6ea4dd; 
  color: white;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  position: absolute;
  top: 10px; 
  right: 10px; 
  font-size: 16px; 
}

.ticket-details {
  flex-grow: 1; 
  margin-right: 50px;
}
.dp-container {
  display: inline-block;
}


.status-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top:40px;
  right: 10px;
}

.status-dot.online {
  background-color: rgb(9, 108, 9);
}

.status-dot.offline {
  background-color: rgb(213, 213, 213);
}
.cards_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
button{
  font-size: large;
}

.icon-tag-container {
  display: flex;           
  align-items: center;     
  gap: 5px;
}

.icon {
  margin-right: 8px;   
}

.tags {
  margin-left: 10px;      
}
